In [4]:
#combine
v1 <- c(1,2,3)
v1[2]

[1] 2

In [6]:
# :
2:10

[1]  2  3  4  5  6  7  8  9 10

In [7]:
# seq
seq(2,10,2)

[1]  2  4  6  8 10

In [11]:
#rep
rep('blue',3)

[1] "blue" "blue" "blue"

In [17]:
str(iris[1:2])

'data.frame':	150 obs. of  2 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...

In [18]:
length(iris)

[1] 5

In [22]:
paste(iris[1,5],":",iris[2,5],seq=",")

[1] "setosa : setosa ,"

In [23]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [27]:
cat("AAA","\n","BBB",sep = "")

AAA
BBB

In [6]:
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [15]:
mat1 <- rbind(vec1,vec3,vec2)
colnames(mat1) <- c('A','C','B')

mat1 <- mat1[c(1,3,2),c('A','B','C')]
mat1

     A B C
vec1 1 3 2
vec2 4 6 5
vec3 7 9 8

In [32]:
cbind(vec1,vec2,vec3)

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [25]:
mat2 <- cbind(vec1,vec2,vec3)
rownames(mat2) <- c('A','B',"c")
print(mat2)
vec4 <- 10:12
vec4 <- as.data.frame(vec4)

mat2<- as.data.frame(mat2)
mat2

  vec1 vec2 vec3
A    1    4    7
B    2    5    8
c    3    6    9

  vec1 vec2 vec3
A 1    4    7
B 2    5    8
c 3    6    9

# 데이터프레임(DataFrame)

In [27]:
no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,50)
qty <- c(5,2,7,9)
fruit <- data.frame(번호 = no,상품명 = name,금액 = price,재고량 = qty)
fruit
str(fruit)

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry   50  9

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ 금액  : num  500 400 300 50
 $ 재고량: num  5 2 7 9

# 외부 파일 불러오기

In [35]:
# txt  File 불러오기

txtEmp <- read.table("../Data/emp.txt", header = T,sep = ",")
txtEmp
str(txtEmp)

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: Factor w/ 3 levels "hong","kim","lee": 1 3 2
 $ 급여: int  150 250 300

In [37]:
#쉼표구분 csv 탭구분 tsv 스페이스구분 ssv
read.csv("../Data//emp2.csv",header = F)

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

In [42]:
csvEmp <- read.table("../Data/emp2.csv",sep = ",")
csvEmp
str(csvEmp)

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

'data.frame':	5 obs. of  3 variables:
 $ V1: int  101 102 103 104 105
 $ V2: Factor w/ 5 levels "강감찬","김유신",..: 5 4 1 3 2
 $ V3: int  150 450 500 350 400

In [43]:
#컬럼이 몇개
ncol(csvEmp)

[1] 3

In [44]:
#row가 몇개(data가 몇개)
nrow(csvEmp)

[1] 5

In [96]:
df <- data.frame(x=1:5,y=seq(2,10,2),z=c("a",'b','c','d','e'))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [48]:
# x,y의 합계 구하기
df
sum(df$x)
sum(df$y)

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

[1] 15

[1] 30

ERROR: Error in um(df$z): 함수 "um"를 찾을 수 없습니다

# 함수를 부르는 함수

In [55]:
#dataframe 에 함수 적용 ( 열방향)
apply(df[,-3],2,sum)
apply(df[,-3],2,mean)
apply(df[,-3],2,sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [56]:
#dataframe 에 함수 적용 ( 행방향)
apply(df[,-3],1,sum)

[1]  3  6  9 12 15

In [97]:
Hap <- apply(df[,-3],1,sum)
df <- cbind(df,Hap)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [101]:
# 부분집합
subset(df,x>=3)
nrow(subset(df, x>=3 & y >=8))
apply(subset(df, x>=3 & y >=8)[,1:2],2,sum)

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

[1] 2

 x  y
 9 18

## 두개 이상의 데이터프레임 병합하기

In [105]:
# Case 1: key값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우
height <- data.frame(id=1:3, height=c(160,170,180))
height
weight <- data.frame(id=c(2,1,3),weight=c(70,60,80))
weight

merge(height, weight)

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  70
2 1  60
3 3  80

  id height weight
1 1  160    60
2 2  170    70
3 3  180    80

In [107]:
# Case 2: key값이 동일하지 않고, 각각의 data의 갯수도 다를경우
height <- data.frame(id=1:3, height=c(160,170,180))
height
weight <- data.frame(ad=c(2,1),weight=c(70,60))
weight

merge(height, weight)

  id height
1 1  160
2 2  170
3 3  180

  ad weight
1 2  70
2 1  60

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [108]:
#key를 정의하고 : data가 적은 쪽의 기준으로 merge
merge(x = height, y = weight, by.x="id",by.y="ad")

  id height weight
1 1  160    60
2 2  170    70

In [109]:
#data가 많은 쪽의 기준으로 merge
merge(x = height, y = weight, by.x="id",by.y="ad", all.x = T)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

In [113]:
## 행렬 함수로 행렬 만들기
matrix(1:10)
matrix(1:10,nrow = 2)
matrix(1:9, nrow=3, ncol=3)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### List
- 성격이 다른 자료구조로 생성이 가능하다
- key, value값으로 구성된다.

In [117]:
member <- list(name='홍길동', address='서울', tel='010-1111-1111',pay=3000)
member$name
member$birth<-"1988-08-08"
member

[1] "홍길동"

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-1111"

$pay
[1] 3000

$birth
[1] "1988-08-08"

# 문자열 처리
- 수집한 데이터의 문자열을 자르고, 교체하고, 추출하는 작업

### stringr package 사용 (function)
- str_length() : 문자열 길이
- str_c() : R에서 쓰는 Combine 'c'가 아니라 connect시켜주는 'c'이다.
- str_sub() : 범위에 해당하는 문자열 생성 (똑같네?)
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
    ex)"123, 456, 789"있으면 123  // 456 // 789 분리해서 생성
- str_replace() : 기존 문자열 중에 첫번째 문자열을 특정 문자열로 변환하는 거다!?( 첫번째!!!)
- str_replace_all() : 기존 문자열 중에 전체를 특정 문자열로 변환하는 거다!? ( 전체!!!)
- str_remove(), str_remove_all() : 문자열 제거                ///'all' 없으면 무조건 첫번째 것만!!!!///
- str_extract(), str_extract_all() : 특정 패턴의 문자열 추출    ///'all' 없으면 무조건 첫번째 것만!!!!///
- str_locate(), str_locate_all() : 특정 패턴의 위치 추출       ///'all' 없으면 무조건 첫번째 것만!!!!///

In [56]:
String <- "hongkildong105yoube1002kwanwoo25장비2005"

In [6]:
#a~z까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(String,"[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kwa" "nwo"

In [10]:
# a~z 까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출
str_extract_all(String,"[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [17]:
# a~z 까지의 영문자가 연속으로 3개 이상 발견된 문자열 추출
 a<- str_extract_all(String, "[a-z]{3,}")
a
class(a)

#list를 해제하기
b<-unlist(a)
b

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"

[1] "list"

[1] "hongkildong" "yoube"       "kwanwoo"

In [ ]:
#숫자만 추출하기
String

sum(as.numeric(unlist(str_extract_all(String,"[0-9]{1,}")))[1:4])
libray(stringr)

In [41]:
# 한글만 추출하기
str_extract_all(String,"[가-힣]{1,}")

[[1]]
[1] "장비"

In [42]:
# 영문자를 제외한 문자 출력하기
str_extract_all(String,"[^a-z]{1,}")

[[1]]
[1] "105"        "1002"       "25장비2005"

In [43]:
#문자열 길이 구하기
str_length(String)

[1] 38

In [45]:
#문자열 위치 구하기
str_locate(String,"장비")

     start end
[1,] 33    34

In [49]:
#부분 문자열 추출
String
str_sub(String,1,str_locate(String,"장비")[1]-1)

[1] "hongkildong105yoube1002kwanwoo25장비2005"

[1] "hongkildong105yoube1002kwanwoo25"

In [51]:
#대문자 소문자 변경
str_to_upper(String)
str_to_lower(String)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

[1] "hongkildong105yoube1002kwanwoo25장비2005"

In [58]:
#문자열 교차하기
String <- str_replace(String, "hongkildong105","홍길동35")
String <- str_replace(String, "yoube1002","유비45")
String <- str_replace(String, "kwanwoo25","관우25")
String <- str_replace(String, "2005","20")
String

[1] "홍길동35유비45관우25장비20"

In [61]:
#문자열 분리하기
str_split(String,",")

[[1]]
[1] "홍길동35유비45관우25장비20"

In [62]:
#천단위 쉼표가 들어간 문자열을 숫자로 변경하기
price <- "123,456,789"

In [80]:
#1
as.numeric(str_replace_all(price,",",""))
#2
as.numeric(str_remove_all(price,","))

[1] 123456789

[1] 123456789

In [84]:
# NA를 변경하기
temp <- c(1,2,NA,3)
as.numeric(str_replace_na(temp,10))

[1]  1  2 10  3

---
# 제어문(조건문)

In [111]:
#1
x <- 10
y <- runif(1) * 100

if(x>y){
    print('x>runif()')
    print(y)
}
print('---end---')

[1] "---end---"

In [169]:
#2
x <- 10
y <- runif(1) * 100
if(x>y){
    print('x>runif()')
    print(y)
}else{
    print('x<=runif()')
    print(y)
}
print('---end---')

[1] "x<=runif()"
[1] 41.90709
[1] "---end---"

In [430]:
#3
x <- 10
y <- trunc(runif(1) * 100)

if(x>y){
    print('x>runif()')
    print(y)
}else if(x<y){
    print('x<runif()')
    print(y)
}else{
    print('x=runif()')
    print(y)
}
print('---end---')

[1] "x<runif()"
[1] 51
[1] "---end---"

## 홀짝수 구분

In [442]:
a<-c(8,9,10)
ifelse(a%%2==0,"짝수","홀수")

[1] "짝수" "홀수" "짝수"

In [444]:
ifelse(a%%2==0,paste(a,":짝수"),paste(a,":홀수"))

[1] "8 :짝수"  "9 :홀수"  "10 :짝수"

# readline

In [446]:
num1 <- as.numeric(readline("숫자를 입력하세요!"))
num1

숫자를 입력하세요!3

[1] 3

In [450]:
num1 <- as.numeric(readline("숫자를 입력하세요!"))
ifelse(num1%%2==0,paste(num1," 짝수 입니다"),paste(num1," 홀수입니다"))

숫자를 입력하세요!2

[1] "2  짝수 입니다"

In [1]:
# 사용자로부터 점수를 입력받아 학점으로 변경하여 출력하기
num1 <- as.numeric(readline("숫자를 입력하세요!"))

숫자를 입력하세요!23

In [2]:
#excel이라는 변수 이름으로 data 불러오기
excel <- read.csv("../Data/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [3]:
# q1 컬럼에서 data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 데이터 출력
ifelse(excel$q1>=3,sqrt(excel$q1),excel$q1)
excel$q6 <- ifelse(excel$q1>=3,sqrt(excel$q1),excel$q1)
head(excel)

  [1] 2.000000 1.000000 2.000000 1.732051 1.732051 2.000000 1.732051 2.000000
  [9] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 1.000000 1.732051
 [17] 1.732051 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000
 [25] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.000000 1.732051
 [33] 1.732051 1.732051 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000
 [41] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 1.000000
 [49] 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 2.000000
 [57] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
 [65] 1.732051 1.732051 1.732051 2.000000 1.000000 2.000000 1.732051 1.732051
 [73] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
 [81] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051
 [89] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.000000 2.000000
 [97] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 2.000000 1.732051
[105] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[113] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[121] 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051
[129] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
[137] 1.732051 2.000000 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000
[145] 1.732051 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051
[153] 1.000000 1.732051 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000
[161] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[169] 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000 1.732051 2.000000
[177] 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000 1.732051 1.732051
[185] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[193] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[201] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000 1.000000
[209] 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051 1.000000
[217] 1.732051 1.732051 2.000000 1.732051 2.000000 1.732051 1.000000 2.000000
[225] 1.732051 2.236068 2.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[233] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[241] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[249] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[257] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[265] 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000
[273] 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000
[281] 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[289] 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[297] 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051
[305] 1.732051 2.000000 1.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[313] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[321] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[329] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[337] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[345] 2.000000 1.000000 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000
[353] 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[361] 2.000000 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000
[369] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
[377] 1.732051 1.732051 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051
[385] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[393] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000
[401] 2.000000 2.000000

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.000000
2 1  2  2  2  2  1.000000
3 2  3  4  3  3  2.000000
4 3  5  5  3  3  1.732051
5 3  2  4  4  4  1.732051
6 4  3  3  4  2  2.000000

# 반복문

In [4]:
# 1~10 까지의 숫자 출력
for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [9]:
# 특정한 벡터값만 출력하기
for(i in c(1,3,5)){
    #print(i)
    print(iris[i,])
}

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
3          4.7         3.2          1.3         0.2  setosa
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
5            5         3.6          1.4         0.2  setosa

In [10]:
# 1~10 홀수만 출력

for(i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [17]:
# 1~10 제곱근

for(i in 1:10){
    cat(i,"->",sqrt(i),"\n")
}

1 -> 1
2 -> 1.414214
3 -> 1.732051
4 -> 2
5 -> 2.236068
6 -> 2.44949
7 -> 2.645751
8 -> 2.828427
9 -> 3
10 -> 3.162278

In [18]:
# 1~10 합구하기
num <-0 
for(i in 1:10){
    num<-num+i
}
num

[1] 55

In [23]:
# 1~100 짝수의합
sum<-0
sum2<-0

for(i in seq(2,100,2)){
    sum<-sum+i
}
cat("1~100 짝수의합은",sum,"입니다.\n")

for(i in 1:100){
    if(i %% 2 ==0){
        sum2<-sum2+i
    }
}

cat("1~100 짝수의합은",sum2,"입니다.")

1~100 짝수의합은 2550 입니다.
1~100 짝수의합은 2550 입니다.

In [41]:

num1 <- 0
num2 <- 0
for(i in 1:length(excel$q3)){
    ifelse(excel$q3[i]%%2==0,num1<-num1+excel$q3[i],num2<-num2+excel$q3[i])
}

cat("홀수의 핪은",num2,"짝수의 합은",num1)

num1<-0
for(i in excel$q3){
    if(i %%2 == 0 ){
        num1 <- num1 + i
    }
}
num1

홀수의 핪은 604 짝수의 합은 852

[1] 852

In [42]:
# excel의 q3컬럼 데이터중 3의 배수의 합계를 구하시오
data1 <- excel$q3
sum <- 0
for(i in data1){
    if(i %% 3 == 0){
        sum = sum + i
    }
}
cat("3의 배수의 합:",sum)

3의 배수의 합: 216

In [47]:

# excel의 q3에서 3의 배수도 되고 4의 배수도 되는 수의 합계

data1 <- excel$q3
sum <- 0
for(i in data1){
    if(i %% 3 == 0&&i %% 4 == 0){
        sum = sum + i
    }
}
cat("3의 배수도되고, 4의배수도 되는 수의 합:",sum)

3의 배수도되고, 4의배수도 되는 수의 합: 0